
<div class="grid">
  <div class="col-12 md:col-6 lg:col-3">
    <p-card>
      <ng-template pTemplate="header">
        <i class="pi pi-users"></i> Usuarios Activos
      </ng-template>
      <ng-template pTemplate="content">
        <h3>{{ usuariosActivos }}</h3>
      </ng-template>
    </p-card>
  </div>

  <div class="col-12 md:col-6 lg:col-3">
    <p-card>
      <ng-template pTemplate="header">
        <i class="pi pi-ban"></i> Usuarios Bloqueados
      </ng-template>
      <ng-template pTemplate="content">
        <h3>{{ usuariosBloqueados }}</h3>
      </ng-template>
    </p-card>
  </div>

  <div class="col-12 md:col-6 lg:col-3">
    <p-card>
      <ng-template pTemplate="header">
        <i class="pi pi-exclamation-triangle"></i> Inicios de Sesión Fallidos
      </ng-template>
      <ng-template pTemplate="content">
        <h3>{{ loginFallidos }}</h3>
      </ng-template>
    </p-card>
  </div>
</div>
